/*   CSS */

body {
		margin: 0px;
		background-color: #CCC;
		width: 100%;
		height: auto;
	  }

h1 { color: transparent; }

#content {
			position: absolute;
		}

.img-parallax {
			position: fixed;
			width: 100%;
			height: 1500px;
		}
		
		
#clock_1 {
			background: url("../assets/images/clock002.png") no-repeat 10px 200px;
		}

		
#clock_2 {
			background: url("../assets/images/clock003.png") no-repeat 350px 300px;
		}
		
#clock_3 {
			background: url("../assets/images/clock005.png") no-repeat 750px 200px;
		}

		
#clock_4 {
			background: url("../assets/images/clock006.png") no-repeat 945px 85px;
		}
		
#clock_5 {
			background: url("../assets/images/clock007.png") no-repeat 10px 600px;
		}
		
#clock_6 {
			background: url("../assets/images/clock008.png") no-repeat 350px 600px;
		}
		
#clock_7 {
			background: url("../assets/images/clock009.png") no-repeat 750px 600px;
		}

		
#clock_8 {
			background: url("../assets/images/clock010.png") no-repeat 945px 605px;
		}
		
#clock_9 {
			background: url("../assets/images/clock011.png") no-repeat 945px 805px;
		}
#clock_10 {
			background: url("../assets/images/clock015.png") no-repeat 45px 805px;
		}
		
