/*   CSS */

body {
		margin: 0px;
		background-color: #CCC;
		width: 100%;
		height: auto;
	  }

h1 { color: transparent; }

#content {
			position: absolute;
		}

.img-parallax {
			position: fixed;
			width: 100%;
			height: 1000px;
		}
		
		
#clock_1 {
			background: url("../assets/images/clock002.png") no-repeat 10px 200px;
		}

		
#clock_2 {
			background: url("../assets/images/clock003.png") no-repeat 500px 400px;
		}
